{
  "jwt_token_secret": "token",
  "client_portal_domains": "",
  "elasticsearch": {},
  "workers": {},
  "redis": {
    "password": ""
  },
  "mongo": {
    "username": "",
    "password": ""
  },
  "rabbitmq": {
    "cookie": "",
    "user": "",
    "pass": "",
    "vhost": ""
  },
  "widgets": {
    "extra_env": {
      "TEAMPLGPT_BASE_URL": "https://demo.teamplgpt.com",
      "TEAMPLGPT_WORKSPACE": "5240",
      "TEAMPLGPT_API_KEY": "<teamplgpt-developer-api-key>"
    }
  },
  "allowed_origins": ".*",
  "plugins": [
    {
      "ui": "local",
      "name": "inbox"
    },
    {
      "ui": "local",
      "name": "knowledgebase"
    },
    {
      "name": "integrations"
    }
  ]
}